<h2>THE GRID</h2>
<div class="grid">
    <table class="table table-bordered">
      <thead></thead>
      <tbody> 
        <tr *ngFor="let els of grid ; let m = index" class="tile-row">
          <td *ngFor="let el of els ; let n = index" [attr.m]="m" [attr.n]="n" class="tile {{el.getBlacknd() ? 'black-tile' : ''}}" (click)="setBlackBox(m,n)">
              <b>  {{el.toString()}} </b>
          </td>
        </tr>
      </tbody>
    </table>
</div>

<div class="form-group">
  <button class="btn btn-primary" (click) = "solve()">SOLVE</button>
</div>
